.side-bar {
  /* height: 100vh; */
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.side-link :hover {
  background-color: #3db5c7;
}
.side-link p {
  margin-top: 12px;
  font-weight: 500;
}
.brand-name {
  font-size: 25px;
  font-weight: bold;
}
.brand-name:hover {
  text-decoration: none;
}
.dash-nav:hover {
  text-decoration: none;
}
.add-product-body {
  background-color: #f4f7fc;
  height: 80vh;
}
