.app {
  /* background: rgb(45, 168, 227);
  background: radial-gradient(
    circle,
    rgba(45, 168, 227, 0.5550595238095238) 0%,
    rgba(148, 208, 233, 0.5494572829131652) 100%
  ); */
  background-image: url(./images/bg.jpg);
  height: 100vh;
}
